{{ form_start(form) }}

<div class="row">

    <div class="col-sm-12 col-md-6">
        {{ form_row(form.titre) }}
    </div>

    <div class="col-12">
        {{ form_row(form.image_path) }}
    </div>


     <div class="col-12">
        {{ form_row(form.onglet) }}
    </div>

 
</div>


    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
